<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
	  <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <!--日志路径-->
      <param name= "File" value= ".\Log\"/>
      <!--是否是向文件中追加日志-->
      <param name= "AppendToFile" value= "true"/>
      <!--备份文件的最大文件数目-->
      <param name= "MaxSizeRollBackups" value= "10"/>
      <!--每个日志文件最大大小，超过指定大小删除重新记录,只有在RollingStyle为Composite或者Size下才有效-->
      <param name="MaximumFileSize" value="100MB" />
      <!--日志文件名是否是固定不变的-->
      <param name= "StaticLogFileName" value= "false"/>
      <!--日志文件名格式为:2008-08-31.log-->
      <param name= "DatePattern" value= "yyyy-MM-dd&quot;.log&quot;"/>
      <!--日志根据日期滚动-->
      <param name= "RollingStyle" value= "Composite"/>
      <!--记录日志写入文件时，不锁定文本文件，防止多线程时不能定日志，官方说线程非完全-->
      <!--<lockingModelType type="log4net.Appender.FileAppender+MinimalLock"/>-->
      <!--使用UTF-8编码-->
      <Encoding value="UTF-8"/>
      <!--每条日志末尾的文字说明-->
      <layout type="log4net.Layout.PatternLayout">
        <!--<param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n"/>-->
        <!--输出格式
        %m(message):输出的日志消息，如ILog.Debug(...)输出的一条消息
        %n(new line):换行
        %d(datetime):输出当前语句运行的时刻
        %r(run time):输出程序从运行到执行到当前语句时消耗的毫秒数
        %t(thread id):当前程序所在的线程ID
        %p(priority):日志的当前优先级别，即DEBUG、INFO、WARN...等
        %c(class):当前日志对象的名称
        %L:输出语句所在的行号
        %F:输出语句所在的文件名
        %-数字:表示该项的最小长度，如果不够，则用空格填充
        如下格式：
        "%d [%t] %-5p %c %l %rms%n%m %n"
        =>
        "2016-05-03 10:10:15,896 [9] INFO  MacManager.Shell MacManager.Modules.Log.LogView+<>c__DisplayClass13_0.<AddLog>b__0(G:\lsq\SVN\MacManagerS\src\mac\code\MainModules\MacManager.Modules.Log\LogView.xaml.cs:201) 1474ms
连接中转服务成功"
          -->
        <param name="ConversionPattern" value="%d{HH:mm:ss fff} [%t] %-5p %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ALL" />
        <levelMax value="OFF" />
      </filter>
    </appender>
	  <logger name="logger">
      <!--输出文件日志level-->
      <!--(高) OFF > FATAL > ERROR > WARN > INFO > DEBUG > ALL (低) -->
      <!--FATAL（致命错误）、ERROR（一般错误）、WARN（警告）、INFO（一般信息）、DEBUG（调试信息）-->
      <level value="INFO" />
      <!--本地输出配置-->
      <appender-ref ref="RollingLogFileAppender"/>
    </logger>
  </log4net>
</configuration>